<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ 'general.iahm'|trans }}{% endblock %}</title>

    <meta name="description" content="{% block desc %}{{ 'general.iahm_desc'|trans }}{% endblock %}">

    <meta name="viewport"
          content="initial-scale=1, width=device-width, minimum-scale=1, user-scalable=no, maximum-scale=1, width=device-width, minimal-ui">

    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}"/>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    {% block stylesheet %}

    {% endblock %}

    {% block javascript %}
        <script type="text/javascript" src="{{ asset('js/main.min.js') }}"></script>
    {% endblock %}

    <script type="application/javascript">

    </script>


</head>
<body data-country="null">

<header>

    {% include "::header_nav.html.twig" %}
</header>

<div class="title">
{% block header %}

    <a href="{{ path('iahm_page_homepage') }}" class="banner"
       style="background-image: url('{{ asset('images/page/header_red.jpg') }}')"></a>

    {% if app.request.locale == "fr" %}

        <a href="{{ path('iahm_page_homepage') }}" class="header_title"
           style="background-image: url('{{ asset('images/page/header_title_aimg.png') }}')"></a>

    {% else %}

        <a href="{{ path('iahm_page_homepage') }}" class="header_title"
           style="background-image: url('{{ asset('images/page/header_title_iahm.png') }}')"></a>

    {% endif %}

{% endblock %}
</div>

{% block body %}{% endblock %}

<footer>
    {% include "::footer_nav.html.twig" %}

</footer>

</body>
</html>