{% extends "::layout.html.twig" %}


{% if app.request.locale == "fr" %}
    {% set pres = event.presentation.fr %}
    {% set speaker_pres = event.speaker.presentation.fr %}
{% else %}
    {% set pres = event.presentation.en %}
    {% set speaker_pres = event.speaker.presentation.en %}
{% endif %}


{% block title %}{{ 'general.iahm'|trans }} LIVE - {{ pres.title }}{% endblock %}
{% block desc %}{{ event.date|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/iahm_live.css') }}" type="text/css"/>
{% endblock %}

{% block body %}

    <a href="{{ path('iahm_live_homepage') }}" class="banner"
       style="background-image: url('{{ asset('images/live/banner-bg-corpo.jpg') }}')"></a>


    <a href="{{ path('iahm_live_homepage') }}" class="logo_live"></a>

    <div class="container">

        <section class="content">

            {% spaceless %}

                <article class="video" id="countdown" data-live="off" data-time="{{ event.live.start_streaming|date('Y/m/d H:i:s') }}" data-lang="{{ app.request.locale }}">

                    <div class="countdown"
                         style="background-image: url('{{ asset('images/live/' ~ event.image ~ '_' ~ app.request.locale ~'.jpg') }}')">

                        <span class="countdown_txt"></span>

                    </div>

                    <iframe width="100%" height="100%"
                            src="https://www.youtube.com/embed/{{ event.live.youtube_id }}?rel=0&amp;showinfo=0"
                            frameborder="0" allowfullscreen></iframe>

                </article>

                <article class="pubs">

                    <h1>{{ 'live.next'|trans }}</h1>


                    {% for event in next %}
                        <div class="pub">
                            <div class="item">
                                <a title="{{ event.title }}"
                                   href="{{ path('iahm_live_event', {'id': event.id}) }}"
                                   style="background-image: url('{{ asset('images/live/' ~ event.image ~ '_' ~ app.request.locale ~'.jpg') }}')">
                                </a>

                            </div>
                            <span class="date">{{ event.date|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</span>

                        </div>
                    {% endfor %}
                </article>


                <article class="desc" data-type="{{ event.type }}">

                    <section class="left">
                        <header>
                            <h1>{{ pres.title }}</h1>
                            <p>{{ event.date|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }}</p>
                        </header>

                        <p>{{ pres.intro }}</p>

                        <section class="speaker">
                            <h2>{{ 'general.speaker'|trans }}: {{ event.speaker.name }} ({{ event.speaker.country }})</h2>

                            <div class="picture">
                                <img src="{{ asset('images/speakers/' ~ event.speaker.image) }}" alt="">
                            </div>
                            <div class="bio">
                                <p>{{ speaker_pres.bio }}</p>

                                <p><a target="_blank"
                                      href="{{ event.speaker.website.url }}">{{ event.speaker.website.label }}</a></p>
                            </div>
                        </section>
                    </section>


                    <section class="right">
                        {{ pres.more|raw }}
                    </section>

                </article>



            {% endspaceless %}

        </section>



    </div>

    <article class="more">

        <div class="content">
            {% spaceless %}
                {% for ad in sub_ads %}
                    <div class="pub">
                        <div class="item">
                            <a target="_blank"
                               title="{{ ad.title }}"
                               href="{{ ad.url }}"
                               style="background-image: url('{{ asset('images/' ~ ad.image) }}')">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endspaceless %}
        </div>
    </article>



{% endblock %}
