{% extends "::layout.html.twig" %}

{% block title %}{{ 'general.iahm'|trans }} - Institut de Guérison 2016-2017{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/iahm_live.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/iahm_event.css') }}" type="text/css"/>
{% endblock %}

{% block header %}

    <a href="{{ path('iahm_live_homepage') }}" class="banner"
       style="background-image: url('{{ asset('images/event/'~ event_id ~'/header_bg.jpg') }}')"></a>


    <a href="{{ path('iahm_live_homepage') }}" class="header_title"
       style="background-image: url('{{ asset('images/event/'~ event_id ~'/header_title.png') }}')"></a>

{% endblock %}

{% block body %}



    <div class="container">

        <section class="content">

            {% spaceless %}

                <article class="desc" data-type="institut">

                    <section class="left">
                        <header>
                            <h1>Institut de Guérison 2016-2017</h1>
                            <p>Oron, Suisse</p>
                        </header>

                        <p>Ce séminaire est une formation au sujet de la guérison divine. De nombreux intervenants
                            locaux et internationaux, qui ont chacun une sensibilité et un appel
                            différents, enseignent dans le respect et l’équilibre fondés sur la parole de Dieu.
                            Le but de l’institut est d’encourager les chrétiens à prier pour les malades, à
                            annoncer la bonne nouvelle de Jésus-Christ et à libérer les captifs.</p>

                        <h2>9 cours progressifs, pour :</h2>

                        <ul>
                            <li>apprendre à prier pour la guérison : esprit, âme et corps</li>
                            <li>augmenter l’onction de guérison</li>
                            <li>être une ressource pour les pasteurs</li>
                            <li>ou responsables d’églises et communautés locales</li>
                            <li>diffuser des récits de miracles du monde entier</li>
                        </ul>

                        <p></p>

                        <p>Notre but étant de progresser de manière équilibrée et dans le respect
                            du personnel soignant impliqué auprès des malades, nous avons également
                            le privilège d’entendre des médecins. Nous ne voulons pas nous
                            substituer à la médecine, mais demander l’intervention de Dieu auprès
                            des personnes atteintes dans leur santé. Chaque journée de formation se
                            termine par une réunion de guérison ouverte au public.</p>

                        <h2>Dates</h2>
                        <p>9 cours de base au sujet de la guérison sont organisés aux dates suivantes :</p>
                        <ul>
                            <li>15 octobre 2016</li>
                            <li>12 novembre 2016</li>
                            <li>10 décembre 2016</li>
                            <li>21 janvier 2017</li>
                            <li>11 février 2017</li>
                            <li>11 mars 2017</li>
                            <li>8 avril 2017</li>
                            <li>13 mai 2017</li>
                            <li>17 juin 2017</li>
                        </ul>

                        <h2>Lieu</h2>
                        <p>Eglise Evangélique d’Oron,<br/>
                            Route du Flon 28,<br/>
                            1610 Oron-la-Ville - Suisse</p>

                        <h2>Horaire d'une journée</h2>

                        <table class="simple">
                            <tbody>
                            <tr>
                                <td>8h30 - 9h00</td>
                                <td>Accueil</td>
                            </tr>
                            <tr>
                                <td>9h00 - 12h50</td>
                                <td>Temps de louange et enseignements</td>
                            </tr>
                            <tr>
                                <td>12h50 - 14h25</td>
                                <td>Pause de midi</td>
                            </tr>
                            <tr>
                                <td>14h25 - 17h00</td>
                                <td>Temps de louange et enseignements</td>
                            </tr>
                            <tr>
                                <td>19h30 - 21h30</td>
                                <td>Soirée Miracles et Guérisons</td>
                            </tr>
                            </tbody>
                        </table>


                        <h2>Intervenants</h2>
                        <p>Nous avons le privilège d’accueillir diverses personnes avec des ministères internationaux ou
                            régionaux toutes ointes du Saint-Esprit. Les séminaires sont créés sur un fondement biblique
                            avec une révélation personnelle de chaque enseignant, ainsi qu’une application pratique des
                            sujets enseignés.</p>
                        <p>Cette saison, nous avons l’honneur de recevoir :</p>
                        <ul class="block">
                            <li>Peter Wenz</li>
                            <li>Chuck Parry</li>
                            <li>Joaquin Evans</li>
                            <li>Jean-Michel Tour</li>
                            <li>Carlos Payan</li>
                            <li>Stacey Campbell</li>
                            <li>Bruno Picard</li>
                            <li>Philipp Schmerold</li>
                            <li>Randy Clark</li>
                            <li>Daniel Salameh</li>
                            <li>Jean-Claude Chabloz</li>
                            <li>Ernest Geiser</li>
                            <li>Thierry Juvet</li>
                            <li>Paul Hemes</li>
                            <li>Pierre Bader</li>
                            <li>Werner Lehmann</li>
                            <li>Nicolas Lehmann</li>
                            <li>Claire-Lise Cherpillod</li>
                            <li>Jean-Luc Trachsel</li>
                            <li>Jérémie Bader</li>
                            <li>et d’autres</li>
                        </ul>

                        <h2>Curriculum</h2>

                        <p><a href="http://doc.healing-ministries.org/download/pdf/institut-curriculum.pdf" class="button">Télécharger le curriculum</a></p>


                        <h2>Attestation</h2>

                        <p>A la fin de l’Institut de Guérison, formation sur 9 journées, une attestation certifiant
                            que vous avez suivi ce séminaire vous sera délivrée. Cette attestation ne vous propulse pas
                            dans un ministère, c’est Dieu qui appelle. Elle est simplement représentative de votre
                            participation aux cours.</p>

                        <h2>S'inscrire à l'institut</h2>

                        <p>Découvrez les différents tarifs en cliquant sur le moyen de paiement que vous désirez
                            ci-dessous.</p>

                        <p><a href="{{ path('iahm_page_form', {'id': '61374597257366'}) }}" class="button">Payer par
                                carte de
                                crédit</a>
                            <a href="{{ path('iahm_page_form', {'id': '61373169763362'}) }}"
                               class="button">Payer par facture</a></p>


                    </section>


                    <section class="right">
                        <h2>Infos pratiques</h2>

                        <h3>Tarifs:</h3>
                        <p>65 CHF<br/>
                            (prix par journée de formation)</p>

                        <h3>Logements:</h3>
                        <p>Pour trouver une chambre proche, vous pouvez réserver sur ces sites:</p>
                        <p><a target="_blank" href="https://fr.airbnb.ch">airbnb.ch</a></p>
                        <p><a target="_blank" href="http://www.bnb.ch">bnb.ch</a></p>

                        <h3>Gare CFF:</h3>
                        <p>Arrêt Châtillens. (10 minutes à pied)<br/>
                            <a target="_blank" href="http://www.cff.ch">www.cff.ch</a></p>

                        <h3>Contact:</h3>
                        <p>Bureau AIMG<br/>
                            <a target="_blank" href="mailto:info@laguerison.org">info@laguerison.org</a><br/>
                            +41 21 907 44 44 (14h à 17h30)</p>
                    </section>

                </article>



            {% endspaceless %}

        </section>


    </div>

    <article class="more">

        <div class="content">
            <h1>{{ 'event.next_events'|trans }}</h1>
            {% spaceless %}
                <div class="pub">
                    <div class="item">
                        <a title="Amsterdam 2017"
                           href="{{ path('iahm_events_event', {'id': 'amsterdam'}) }}"
                           style="background-image: url('{{ asset('images/event/amsterdam/thumb.jpg') }}')">
                        </a>
                    </div>
                </div>
                <div class="pub">
                    <div class="item">
                        <a title="Institut de Guérison"
                           href="{{ path('iahm_events_event', {'id': 'institut'}) }}"
                           style="background-image: url('{{ asset('images/event/institut/thumb.jpg') }}')">
                        </a>
                    </div>
                </div>
                <div class="pub">
                    <div class="item">
                        <a title="Journée privilège"
                           href="{{ path('iahm_events_event', {'id': 'privilege'}) }}"
                           style="background-image: url('{{ asset('images/event/privilege/thumb.jpg') }}')">
                        </a>
                    </div>
                </div>
            {% endspaceless %}
        </div>
    </article>


{% endblock %}
